<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<httpProtocol allowKeepAlive="true">
			<customHeaders>
				<!--<remove name="X-Powered-By" />-->
				<add name="Vary" value="Accept-Encoding" />
				<add name="Access-Control-Allow-Origin" value="http://test.www.csm.nov.ru" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<clear />
				<rule name="LowerCaseRule" enabled="true" stopProcessing="true">
					<match url="[A-Z]" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
					<add input="{REQUEST_URI}" pattern="^/wp-admin/.*" negate="true" />
					<add input="{REQUEST_URI}" pattern="^/wp-content/.*" negate="true" />
					<add input="{REQUEST_URI}" pattern="^/wp-includes/.*" negate="true" />
					<add input="{REQUEST_URI}" pattern="^/images/.*" negate="true" />
					</conditions>
					<action type="Redirect" url="{ToLower:{URL}}" />
				</rule>
				<rule name="WP Super Cache" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions>
                        <add input="{REQUEST_URI}" pattern="//" negate="true" />
                        <add input="{REQUEST_URI}" pattern="[^/]$" negate="true" />
                        <add input="{REQUEST_METHOD}" pattern="POST" ignoreCase="false" negate="true" />
                        <add input="{QUERY_STRING}" pattern=".*=.*" ignoreCase="false" negate="true" />
                        <add input="{QUERY_STRING}" pattern=".*attachment_id=.*" ignoreCase="false" negate="true" />
                        <add input="{HTTP_COOKIE}" pattern="^.*(comment_author_|wordpress_logged_in|wp-postpass_).*$" ignoreCase="false" negate="true" />
                        <add input="{DOCUMENT_ROOT}\wp-content\cache\supercache\{HTTP_HOST}{UrlDecode:{REQUEST_URI}}index.html" matchType="IsFile" />
					</conditions>
					<action type="Rewrite" url="wp-content/cache/supercache/{HTTP_HOST}{REQUEST_URI}index.html" />
				</rule>
				<rule name="WordPress: http://test.www.csm.nov.ru" patternSyntax="Wildcard">
					<match url="*" />
						<conditions>
							<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
							<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						</conditions>
					<action type="Rewrite" url="index.php" />
				</rule>
			</rules>
		</rewrite>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.php" />
			</files>
		</defaultDocument>
		<httpErrors>
		</httpErrors>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="31.00:00:00" />
			<remove fileExtension=".html" />
			<mimeMap fileExtension=".html" mimeType="text/html; charset=UNICODE-1-1-UTF-8" />
			<remove fileExtension=".css" />
			<mimeMap fileExtension=".css" mimeType="text/css; charset=UNICODE-1-1-UTF-8" />
			<remove fileExtension=".js" />
			<mimeMap fileExtension=".js" mimeType="application/javascript; charset=UNICODE-1-1-UTF-8" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json; charset=UNICODE-1-1-UTF-8" />
			<remove fileExtension=".eot" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".ttf" />
			<mimeMap fileExtension=".ttf" mimeType="application/font-ttf" />
			<remove fileExtension=".otf" />
			<mimeMap fileExtension=".otf" mimeType="application/font-otf" />
		</staticContent>
		<caching enabled="true">
			<profiles>
				<add extension=".css" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="7.00:00:00" location="Downstream" varyByHeaders="Accept-Encoding" varyByQueryString="ver" />
				<add extension=".js" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="7.00:00:00" location="Downstream" varyByHeaders="Accept-Encoding" varyByQueryString="ver" />
				<add extension=".jpg" policy="DontCache" kernelCachePolicy="DontCache" duration="31.00:00:00" location="Downstream" varyByHeaders="Accept-Encoding" />
				<add extension=".gif" policy="DontCache" kernelCachePolicy="DontCache" duration="31.00:00:00" location="Downstream" varyByHeaders="Accept-Encoding" />
				<add extension=".png" policy="DontCache" kernelCachePolicy="DontCache" duration="31.00:00:00" location="Downstream" varyByHeaders="Accept-Encoding" />
				<add extension=".ico" policy="DontCache" kernelCachePolicy="DontCache" duration="31.00:00:00" location="Downstream" varyByHeaders="Accept-Encoding" />
				<add extension=".swf" policy="DontCache" kernelCachePolicy="DontCache" duration="31.00:00:00" location="Downstream" varyByHeaders="Accept-Encoding" />
			</profiles>
		</caching>
		<!--<urlCompression doDynamicCompression="false" />-->
	</system.webServer>

	<location path="wp-content/cache/supercache">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="NoControl" />
			</staticContent>
			<caching>
				<profiles>
					<add extension="*" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="1:00:00" location="Downstream" varyByHeaders="Accept-Encoding" />
				</profiles>
			</caching>
			<httpProtocol>
				<customHeaders>
					<add name="Cache-Control" value="public, max-age=3600, s-maxage=3600, must-revalidate, proxy-revalidate" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
	<location path="wp-content/cache/autoptimize">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="NoControl" />
			</staticContent>
			<caching>
				<profiles>
					<add extension="*" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="1:00:00" location="Downstream" varyByHeaders="Accept-Encoding" />
				</profiles>
			</caching>
			<httpProtocol>
				<customHeaders>
					<add name="Cache-Control" value="public, max-age=2678400, s-maxage=2678400, proxy-revalidate" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
	<location path="wp-content/uploads">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="NoControl" />
			</staticContent>
			<caching>
				<profiles>
					<add extension="*" policy="DontCache" kernelCachePolicy="DontCache" />
				</profiles>
			</caching>
			<httpProtocol>
				<customHeaders>
					<add name="Cache-Control" value="public, max-age=2678400, s-maxage=2678400" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
	<location path="wp-content/plugins">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="31.00:00:00" />
			</staticContent>
			<httpProtocol>
				<customHeaders>
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
	<location path="wp-content/themes">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="31.00:00:00" />
			</staticContent>
			<httpProtocol>
				<customHeaders>
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
</configuration>
